aside.scol-sm-6.col-sm-height
    h4.range-title
        b Login
    //if message.length>0
    //    .alert.alert-danger
    //        div #{message}
    // LOGIN FORM
    .range-list
        form(name="Loginform" ng-init="setForm(this)" ).range-list-div
            .form-group(style='display:inline-block;')
                input.form-control(type='text', name='email', autofocus placeholder='email address' ng-model="user.email")
                //.val-error-msg(ng-show='loginForm.email.$dirty && loginForm.email.$invalid') Invalid email:
            br
            .form-group(style='display:inline-block;')
                input.form-control(type='password', name='password', placeholder='password' ng-model="user.password" )
            br
            button.formgroup.btn.btn-primary.login-button(ng-click="login()"  style='display:inline-block;') Login

        .val-error-msg
            h4(ng-bind="message")
        a(ui-sref='forgot').btn.btn-link
            p.login-links Forgot Password?
