aside.col-sm-6.col-sm-height
    h4.range-title
        b Your Well Being
    .range-list
        .range-list-div
            a.btn.btn-primary.login-button-ext
                span.fa  Think about it
        .range-list-div
            a.btn.btn-info.login-button-ext
                span.fa  Log it
        .range-list-div
            a.btn.btn-danger.login-button-ext
                span.fa  Feel better