.loginPanel(ng-controller="loginController" ng-init="init()").loginPanel-responsive

    include providerLogin
    include localLogin
    include signupBot
    .down-button
      a.btn(id='chChk')
        i.fa.fa-arrow-circle-down.fa-4x