.homePanelRange-list
    h1.text-right
        a(ui-sref='home')
            b X
    h3.range-title Feeling tired message
        h4.range-title Feeling tired form
          h5.range-title Some input fields
      div(ui-view="")
