.profilePanelRange-list
        .range-list-div
            a(ui-sref='feelingGreat').btn.btn-primary.login-button-ext Great
        .range-list-div
            a(ui-sref='home.full').btn.btn-info.login-button-ext Too full
        .range-list-div
            a(ui-sref='home.tired').btn.btn-danger.login-button-ext Tired and Sleepy