// views/login.jade
html5
    head
        title Node Authentication - Forgot Password
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
        // load bootstrap css
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
        // load fontawesome
        style.
            body        { padding-top:80px; }
    body
        .container
            .col-sm-6.col-sm-offset-3
                h1
                    span.fa.fa-sign-in
                    |  Forgot Password?
                if message.length > 0
                    .alert.alert-danger
                        div #{message}
                form(action='/forgot', method='post')
                    .form-group
                        label Email
                        input.form-control(type='text', name='email', autofocus)
                    button.btn.btn-warning.btn-lg(type='submit') Reset Password