extends layout
block content
        .container
            .col-sm-6.col-sm-offset-3
                h1
                    span.fa.fa-sign-in
                    |  Forgot Password?
                if message.length > 0
                    .alert.alert-danger
                        div #{message}
                form(action='/forgot', method='post')
                    .form-group
                        label Email
                        input.form-control(type='text', name='email', autofocus)
                    button.btn.btn-warning.btn-lg(type='submit') Reset Password