html5
    head
        title Node Authentication - Home
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
        //load bootstrap css
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    //    // load fontawesome
        style.
            body {
                padding-top: 80px;
            }
    body
        .container
            .jumbotron.text-center
                h1
                    span.fa.fa-lock
                    |  Node Authentication

                p Login or Register with:

                a.btn.btn-default(href='/login')
                    span.fa.fa-user
                    |  Local Login
                |&nbsp;
                a.btn.btn-default(href='/signup')
                    span.fa.fa-user
                    |  Local Signup
                |&nbsp;
                a.btn.btn-primary(href='/auth/facebook')
                    span.fa.fa-facebook
                    |  Facebook
                |&nbsp;
                a.btn.btn-info(href='/auth/twitter')
                    span.fa.fa-Twitter
                    |  Twitter
                |&nbsp;
                a.btn.btn-danger(href='/auth/google')
                    span.fa.fa-google-plus
                    |  Google