extends layoutNew


block content
    span


    //.container
    //        .jumbotron.text-center
    //            h1
    //                span
    //                |  Our Fun Project
    //
    //            p Login or Register with:
    //
    //            a.btn.btn-default(href='/login')
    //                span.fa.fa-user
    //                |  Local Login
    //            |&nbsp;
    //            a.btn.btn-default(href='/signup')
    //                span.fa.fa-user
    //                |  Local Signup
    //            |&nbsp;
    //            a.btn.btn-primary(href='/auth/facebook')
    //                span.fa.fa-facebook
    //                |  Facebook
    //            |&nbsp;
    //            a.btn.btn-info(href='/auth/twitter')
    //                span.fa.fa-Twitter
    //                |  Twitter
    //            |&nbsp;
    //            a.btn.btn-danger(href='/auth/google')
    //                span.fa.fa-google-plus
    //                |  Google