doctype html(lang='en')
head
    meta(charset='utf-8')
    title Our Fun Project
    meta(name='keywords', content='Twitter Bootstrap, Bootstrap Responsive Design, Full page Website Template, Mobile Website Template, Tablet Website Template')

    meta(name='description', content='Fullpage Website Template Built on the Twitter Bootstrap responsive design framework, that will automatically look and behave beautifully on any browser or device including iphone, android, ipad, blackberry, laptop, tv etc. ')

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    | &#x9;
    meta(name='author', content='test')
    // Le styles
    link(href='stylesheets/bootstrap.css', rel='stylesheet')
    link(href='stylesheets/bootstrap-responsive.css', rel='stylesheet')
    link(href='stylesheets/style.css', rel='stylesheet')


    // HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    // Fav and touch icons
    //link(rel='shortcut icon', href='/cmsv3/skins/bootstrap/docs/assets/ico/favicon.ico')
    //
    //link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/cmsv3/skins/bootstrap/docs/assets/ico/apple-touch-icon-144-precomposed.png')
    //
    //link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/cmsv3/skins/bootstrap/docs/assets/ico/apple-touch-icon-114-precomposed.png')
    //
    //link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/cmsv3/skins/bootstrap/docs/assets/ico/apple-touch-icon-72-precomposed.png')
    //
    //link(rel='apple-touch-icon-precomposed', href='/cmsv3/skins/bootstrap/docs/assets/ico/apple-touch-icon-57-precomposed.png')

body
    //
      NAVBAR
      ==================================================
    // Wrap the .navbar in .container to center it on the page and provide easy way to target it with .navbar-wrapper.
    .container.navbar-wrapper
        .navbar.navbar-inverse
            .navbar-inner
                //// Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize.
                a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                    span.icon-bar

                    span.icon-bar

                    span.icon-bar

                a.brand(href='#') Our Fun Project
                // Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse.
                .nav-collapse.collapse
                    ul.nav
                        li.active
                            a(href='#') Home

                        li
                            a(href='#about') About

                        li
                            a(href='#contact') Contact
                        // Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                | Login
                                b.caret

                            ul.dropdown-menu
                                li
                                    div(style="padding:17px;")
                                        // LOGIN FORM
                                        form(action='/login', method='post')
                                            .form-group
                                                //label Email
                                                input.form-control(type='text', name='email', placeholder="email")
                                            .form-group
                                                //label Password
                                                input.form-control(type='password', name='password', placeholder='password')
                                            button.btn.btn-warning(type='submit') Login
                                            | &nbsp; Or
                                            a(href='/signup')  Signup
                                li.nav-header Or Login using:

                                li
                                    div(style="padding-left:17px; padding-top=5px;")
                                        a.btn.btn-primary(href='/auth/facebook')
                                            span.fa.fa-facebook
                                            |  Facebook
                                li
                                    div(style="padding-left:17px; padding-top=5px;")
                                        a.btn.btn-info(href='/auth/twitter')
                                            span.fa.fa-Twitter
                                            |  Twitter
                                li
                                    div(style="padding-left:17px; padding-top=5px;")
                                        a.btn.btn-danger(href='/auth/google')
                                            span.fa.fa-google-plus
                                            |  Google

    #myCarousel.carousel.slide
        .carousel-inner
            .item.active
                img(src='/images/pic1.jpg', alt='')
                .container
                    .carousel-caption
                        h1 The fun begins here.
                        p.lead
                            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                        a.btn.btn-large.btn-primary(href='#') Sign up today
            .item
                img(src='/images/pic2.jpg', alt='')
                .container
                    .carousel-caption
                        h1 And continues here
                        p.lead
                            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                        a.btn.btn-large.btn-primary(href='#') Learn more
            .item
                img(src='/images/pic3.jpeg', alt='')
                .container
                    .carousel-caption
                        h1 And keeps going..
                        p.lead
                            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.

                        a.btn.btn-large.btn-primary(href='#') Browse gallery
            .item
                img(src='/images/pic4.jpg', alt='')
                .container
                    .carousel-caption
                        h1 ..till the bitter end
                        p.lead
                            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.

                        a.btn.btn-large.btn-primary(href='#') Browse gallery
        a.left.carousel-control(href='#myCarousel', data-slide='prev') &lsaquo;
        a.right.carousel-control(href='#myCarousel', data-slide='next') &rsaquo;

        block content

      //Le javascript
      //==================================================
    // Placed at the end of the document so the pages load faster
    script(src='../javascripts/lib/jquery-1.9.1.min.js')

    //script(src='../javascripts/lib/bootstrap.min.js')
    script(src='../javascripts/lib/bootstrap-transitions.js')
    //script(src='/cmsv3/skins/bootstrap/docs/assets/js/bootstrap-alert.js')
    script(src='../javascripts/lib/bootstrap-modal.js')
    script(src='../javascripts/lib/bootstrap-dropdown.js')

    script(src='../javascripts/lib/bootstrap-scrollspy.js')
    //
    script(src='../javascripts/lib/bootstrap-tab.js')
    //
    //script(src='../javascripts/lib/bootstrap-tooltip.js')
    //
    script(src='../javascripts/lib/bootstrap-popover.js')
    //
    //script(src='../javascripts/lib/bootstrap-button.js')
    //
    script(src='../javascripts/lib/bootstrap-collapse.js')
    //
    script(src='../javascripts/lib/bootstrap-carousel.js')
    //
    script(src='../javascripts/lib/bootstrap-typeahead.js')

    script.
        !function ($) {
            $(function () {
                // carousel demo
                $('#myCarousel').carousel()
            })
        }(window.jQuery)
