extends layout_
block content
    .container-fluid
        section(id="login" ng-controller="visHomeController" ng-init="init()").row.title-row
            .fill-screen.stellar-bg(data-stellar-background-ratio='0.2', style='background-image: url("./images/ChandiniChowk_020.jpg")')
                .loginPanel.loginPanel-responsive
                    aside.col-sm-6.col-sm-height
                        h4.range-title
                            b Login with
                        .range-list
                            .range-list-div
                                a.btn.btn-primary.login-button-ext(href='/auth/facebook')
                                    span.fa.fa-facebook  Log In with Facebook
                            .range-list-div
                                a.btn.btn-info.login-button-ext(href='/auth/twitter')
                                    span.fa.fa-Twitter  Log In with Twitter
                            .range-list-div
                                a.btn.btn-danger.login-button-ext(href='/auth/google')
                                    span.fa.fa-google-plus  Log In with Google
                    aside.scol-sm-6.col-sm-height
                        h4.range-title
                            b Login
                        .range-list(ng-show="!showForgot")
                            .range-list-div.form(action='/login', method='post')
                                .form-group(style='display:inline-block;')
                                    input.form-control(type='text', name='email', placeholder='email address')
                                br
                                .form-group(style='display:inline-block;')
                                    input.form-control(type='password', name='password', placeholder='password')
                            div
                                .formgroup.button.btn.btn-primary.login-button(type='submit' style='display:inline-block;') Login
                            a.btn.btn-link(ng-click="showForgot=!showForgot")  Forgot Password?

                        div(ng-show="showForgot")
                            form.forgot-password(action='/forgot', method='post')
                                .form-group(style='display:inline-block;')
                                    input.form-control(type='text', name='email', autofocus placeholder='email address')
                            div
                                .formgroup.button.btn.btn-primary.login-button(type='submit' style='display:inline-block;') Reset Password
                            a.btn.btn-link(ng-click="showForgot=!showForgot")  Back to login
                .down-button
                    a.btn(href='#chCowk')
                        i.fa.fa-arrow-circle-down.fa-4x
        section#chCowk.row.text-banner
            h1 Visit Chandini Chowk
            p

        section.row
            #carousel.carousel.slide(data-ride='carousel')
                // Indicators
                ol.carousel-indicators
                    li.active(data-target='#carousel', data-slide-to='0')
                    li(data-target='#carousel', data-slide-to='1')
                    li(data-target='#carousel', data-slide-to='2')
                // Wrapper for slides
                .carousel-inner(role='listbox')
                    .item.active
                        .carousel-caption
                            h3
                            p
                        img(src='./images/ChandiniChowk_050.jpg', alt='')
                    .item
                        .carousel-caption
                            h3
                            p
                        img(src='./images/ChandiniChowk_022.jpg', alt='')
                    .item
                        .carousel-caption
                            h3
                            p
                        img(src='./images/ChandiniChowk_032.jpg', alt='')
                    .item
                        .carousel-caption
                            h3
                            p
                        img(src='./images/ChandiniChowk_037.jpg', alt='')
                    .item
                        .carousel-caption
                            h3
                            p
                        img(src='./images/ChandiniChowk_050.jpg', alt='')
                    .item
                        .carousel-caption
                            h3
                            p
                        img(src='./images/ChandiniChowk_003.jpg', alt='')
                    .item
                        .carousel-caption
                            h3
                            p
                        img(src='./images/ChandiniChowk_006.jpg', alt='')
                    .item
                        .carousel-caption
                            h3
                            p
                        img(src='./images/ChandiniChowk_015.jpg', alt='')
                    .item
                        .carousel-caption
                            h3
                            p
                        img(src='./images/ChandiniChowk_049.jpg', alt='')
                // Controls
                a.left.carousel-control(href='#carousel', role='button', data-slide='prev')
                    span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                    span.sr-only Previous
                a.right.carousel-control(href='#carousel', role='button', data-slide='next')
                    span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                    span.sr-only Next

        section.row
            h2 Nano Gallery
            #nanoGallery3
                a(href='./images/ChandiniChowk_020.jpg', data-ngthumb='./images/ChandiniChowk_020.jpg')
                a(href='./images/ChandiniChowk_037.jpg', data-ngthumb='./images/ChandiniChowk_037.jpg')
                a(href='./images/ChandiniChowk_032.jpg', data-ngthumb='./images/ChandiniChowk_032.jpg')
                a(href='./images/ChandiniChowk_022.jpg', data-ngthumb='./images/ChandiniChowk_022.jpg')
                a(href='./images/ChandiniChowk_050.jpg', data-ngthumb='./images/ChandiniChowk_050.jpg')

    footer.container-fluid
        h1 Footer