extends layoutVis
block content
    .container-fluid
        section.row.title-row
            .fill-screen.stellar-bg(data-stellar-background-ratio='0.2', style='background-image: url("./images/ChandiniChowk020.jpg")')
                div(ui-view='')

    //    section#chkSlide.row.text-banner
    //        h1 Visit Chandini Chowk
    //        p
    //
    //    section.row
    //        #carousel.carousel.slide(data-ride='carousel')
    //            // Indicators
    //            ol.carousel-indicators
    //                li.active(data-target='#carousel', data-slide-to='0')
    //                li(data-target='#carousel', data-slide-to='1')
    //                li(data-target='#carousel', data-slide-to='2')
    //            // Wrapper for slides
    //            .carousel-inner(role='listbox')
    //                .item.active
    //                    .carousel-caption
    //                        h3
    //                        p
    //                    img(src='./images/ChandiniChowk050.jpg', alt='')
    //                .item
    //                    .carousel-caption
    //                        h3
    //                        p
    //                    img(src='./images/ChandiniChowk022.jpg', alt='')
    //                .item
    //                    .carousel-caption
    //                        h3
    //                        p
    //                    img(src='./images/ChandiniChowk032.jpg', alt='')
    //                .item
    //                    .carousel-caption
    //                        h3
    //                        p
    //                    img(src='./images/ChandiniChowk037.jpg', alt='')
    //                .item
    //                    .carousel-caption
    //                        h3
    //                        p
    //                    img(src='./images/ChandiniChowk020.jpg', alt='')
    //
    //            // Controls
    //            a.left.carousel-control(href='#carousel', role='button', data-slide='prev')
    //                span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
    //                span.sr-only Previous
    //            a.right.carousel-control(href='#carousel', role='button', data-slide='next')
    //                span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
    //                span.sr-only Next
    //
    //    section#chkGallery.row
    //        h2 Nano Gallery
    //        #nanoGallery3
    //            a(href='./images/ChandiniChowk020.jpg', data-ngthumb='./images/ChandiniChowk020.jpg')
    //            a(href='./images/ChandiniChowk037.jpg', data-ngthumb='./images/ChandiniChowk037.jpg')
    //            a(href='./images/ChandiniChowk032.jpg', data-ngthumb='./images/ChandiniChowk032.jpg')
    //            a(href='./images/ChandiniChowk022.jpg', data-ngthumb='./images/ChandiniChowk022.jpg')
    //            a(href='./images/ChandiniChowk050.jpg', data-ngthumb='./images/ChandiniChowk050.jpg')
    //
    //footer.container-fluid
    //    h1 Footer