extends layout_
block content
    .container-fluid
        section(id="login" ng-controller="visHomeController" ng-init="init()").row.title-row
            .fill-screen.stellar-bg(data-stellar-background-ratio='0.2', style='background-image: url("./images/ChandiniChowk020.jpg")')

                .loginPanel#login.loginPanel-responsive(ng-show="!showSignup")

                    aside.col-sm-6.col-sm-height
                        h4.range-title
                            b Login with
                        .range-list
                            .range-list-div
                                a.btn.btn-primary.login-button-ext(href='/auth/facebook')
                                    span.fa.fa-facebook  Log In with Facebook
                            .range-list-div
                                a.btn.btn-info.login-button-ext(href='/auth/twitter')
                                    span.fa.fa-Twitter  Log In with Twitter
                            .range-list-div
                                a.btn.btn-danger.login-button-ext(href='/auth/google')
                                    span.fa.fa-google-plus  Log In with Google
                    aside.scol-sm-6.col-sm-height
                        h4.range-title
                            b Login
                        //if message.length>0
                        //    .alert.alert-danger
                        //        div #{message}
                        // LOGIN FORM
                        .range-list(ng-show="!showForgot")
                            form.range-list-div
                                .form-group(style='display:inline-block;')
                                    input.form-control(type='text', name='email', autofocus,placeholder='email address' ng-model="user.email")
                                br
                                .form-group(style='display:inline-block;')
                                    input.form-control(type='password', name='password', placeholder='password' ng-model="user.password")
                                br
                                button.formgroup.btn.btn-primary.login-button(ng-click="login()" style='display:inline-block;') Login

                            span.val-error-msg(ng-bind="message")
                            br
                            a.btn.btn-link(ng-click="showForgot=!showForgot")
                                p.login-links Forgot Password?

                        div(ng-show="showForgot")
                            form.forgot-password(action='/forgot', method='post')
                                .form-group(style='display:inline-block;')
                                    input.form-control(type='text', name='email', autofocus, placeholder='email address')
                            div
                                .formgroup.button.btn.btn-primary.login-button(type='submit' style='display:inline-block;') Reset Password
                            a.btn.btn-link(ng-click="showForgot=!showForgot")
                                p.login-links Back to login
                    .signup-bot
                        a.btn#signupLink.btn-link(ng-click="showSignup=!showSignup")
                            p Create an account
                .loginPanel#signup.loginPanel-responsive.signup-panel(ng-show="showSignup")
                    aside.scol-sm-12.col-sm-height
                        h4.range-title
                            b Signup
                            // show any messages that come back with authentication
                        //if signupMessage.length > 0
                        //    .alert.alert-danger
                                div #{signupMessage}
                        // SIGNUP FORM

                        .range-list
                            form.range-list-div
                                .form-group(style='display:inline-block;')
                                    input.form-control(type='text', name='fname', autofocus, placeholder='first name' ng-model="user.firstName")
                                br
                                .form-group(style='display:inline-block;')
                                    input.form-control(type='text', name='lname', placeholder='last name' ng-model="user.lastName")
                                br
                                .form-group(style='display:inline-block;')
                                    input.form-control(type='text', name='email', placeholder='email address' ng-model="user.email")
                                br
                                .form-group(style='display:inline-block;')
                                    input.form-control(type='password', name='password', placeholder='password' ng-model="user.password")
                                br
                                .form-group(style='display:inline-block;')
                                    input.form-control(type='password', name='confpassword', placeholder='verify password' )
                                br
                                button.btn.btn-primary.login-button(ng-click="signupUser()" style='display:inline-block;') Signup

                            span.val-error-msg(ng-bind="message")
                            br
                            a.btn#signupLink.btn-link(ng-click="showSignup=!showSignup")
                                p Back to login
                .down-button

                    a.btn(href='#chCowk')
                        i.fa.fa-arrow-circle-down.fa-4x
        section#chCowk.row.text-banner
            h1 Visit Chandini Chowk
            p

        section.row
            #carousel.carousel.slide(data-ride='carousel')
                // Indicators
                ol.carousel-indicators
                    li.active(data-target='#carousel', data-slide-to='0')
                    li(data-target='#carousel', data-slide-to='1')
                    li(data-target='#carousel', data-slide-to='2')
                // Wrapper for slides
                .carousel-inner(role='listbox')
                    .item.active
                        .carousel-caption
                            h3
                            p
                        img(src='./images/ChandiniChowk050.jpg', alt='')
                    .item
                        .carousel-caption
                            h3
                            p
                        img(src='./images/ChandiniChowk022.jpg', alt='')
                    .item
                        .carousel-caption
                            h3
                            p
                        img(src='./images/ChandiniChowk032.jpg', alt='')
                    .item
                        .carousel-caption
                            h3
                            p
                        img(src='./images/ChandiniChowk037.jpg', alt='')
                    .item
                        .carousel-caption
                            h3
                            p
                        img(src='./images/ChandiniChowk020.jpg', alt='')

                // Controls
                a.left.carousel-control(href='#carousel', role='button', data-slide='prev')
                    span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                    span.sr-only Previous
                a.right.carousel-control(href='#carousel', role='button', data-slide='next')
                    span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                    span.sr-only Next

        section.row
            h2 Nano Gallery
            #nanoGallery3
                a(href='./images/ChandiniChowk020.jpg', data-ngthumb='./images/ChandiniChowk020.jpg')
                a(href='./images/ChandiniChowk037.jpg', data-ngthumb='./images/ChandiniChowk037.jpg')
                a(href='./images/ChandiniChowk032.jpg', data-ngthumb='./images/ChandiniChowk032.jpg')
                a(href='./images/ChandiniChowk022.jpg', data-ngthumb='./images/ChandiniChowk022.jpg')
                a(href='./images/ChandiniChowk050.jpg', data-ngthumb='./images/ChandiniChowk050.jpg')

    footer.container-fluid
        h1 Footer