extends layoutSubs
block content
    .container-fluid
        section.row.title-row
            .fill-screen.stellar-bg(data-stellar-background-ratio='0.2', style='background-image: url("")')
                div(ui-view='')

