.homePanel.homePanel-responsive
    aside.col-sm-6.col-sm-height

        div(ng-if="done")
            include homeTopDone
        div(ng-if="!done")
            include homeTopDef
        include social/social
        include wellnessNews/wellness