.fill-screen.stellar-bg(data-stellar-background-ratio='0.2', style='background-image: url("{{bgImage}}"); width:100%;')
    h3.range-title Good {{greeting}} {{user.local.firstName}}
    .homePanelRange-list
        .down-button
            a.btn(id='homeTop')
                i.fa.fa-arrow-circle-down.fa-4x