.fill-screen.stellar-bg(data-stellar-background-ratio='0.2', style='background-image: url("{{bgImage}}"); width:100%;')
    h3.range-title Good {{greeting}} {{user.local.firstName}}
    h4.range-title Tell us how u feel
    .homePanelRange-list(ng-controller="homeTopDefController" ng-init="init()")
        .range-list-div.feelingIcon
            a.fa.fa-thumbs-up.feelingGreat.mdGlobalBtn(ui-sref='feelingGreat')(style="left:20%" ng-click="saveFeeling('great')")
            //a(ui-sref='feelingGreat').btn.btn-primary.login-button-ext Great
        .range-list-div.feelingIcon
            a.fa.fa-beer.feelingFull.mdGlobalBtn(ui-sref='home.full')(style="left:90%")
            //a(ui-sref='home.full').btn.btn-info.login-button-ext Too full
        .range-list-div.feelingIcon
            a.fa.fa-coffee.feelingTired.mdGlobalBtn(ui-sref='home.tired')(style="left:10%")
            //a(ui-sref='home.tired').btn.btn-danger.login-button-ext Tired and Sleepy
        .down-button
            a.btn(id='homeTop' scroll-to="socialTop" )
                i.fa.fa-arrow-circle-down.fa-4x

script.
  $('.down-button a').click(function(){
    console.log(this.getAttribute('scroll-to'));
    var scrollTo = this.getAttribute('scroll-to');
    $('html body').stop().animate({
      scrollTop: $("#"+scrollTo).offset().top -100
    },1500,'easeInOutExpo');
  });