header#navBot.container-fluid


ul.nav.navbar-nav.navbar-inverse.navbar-fixed-bottom.cbp-af-header.container-fluid(role='navigation')
        li
            a(data-toggle="collapse" data-target=".navbar-collapse" id="home" ui-sref="home") Home
        li
            a(data-toggle="collapse" data-target=".navbar-collapse" id="moods" ui-sref="social" ) Social
        li
            a(data-toggle="collapse" data-target=".navbar-collapse" id="signup" ui-sref='tracker') Journal
        li
            a(data-toggle="collapse" data-target=".navbar-collapse" id="profile" ui-sref='news') News
        li
            a(data-toggle="collapse" data-target=".navbar-collapse" id="profile" ui-sref='profile') Profile

            // /.navbar-collapse
        // /.container-fluid