header#top.container-fluid
    nav.navbar.navbar-inverse.navbar-fixed-top.cbp-af-header(role='navigation')
        .container-fluid
            // Brand and toggle get grouped for better mobile display
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a(href='#')
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(data-toggle="collapse" data-target=".navbar-collapse" id="home" ui-sref="home") Home
                    li
                        a(data-toggle="collapse" data-target=".navbar-collapse" id="moods" ui-sref="social" ) Social
                    li
                        a(data-toggle="collapse" data-target=".navbar-collapse" id="signup" ui-sref='tracker') Journal
                    li
                        a(data-toggle="collapse" data-target=".navbar-collapse" id="profile" ui-sref='news') News
                    li
                        a(data-toggle="collapse" data-target=".navbar-collapse" id="profile" ui-sref='profile') Profile
                    li
                        a(data-toggle="collapse" data-target=".navbar-collapse"  href='/logout') Logout
            // /.navbar-collapse
        // /.container-fluid