nav
            ul.list-unstyled.main-menu
                li.text-left
                    a#nav-close(href='#')
                        b X
                li
                    a(class="navLink" data-toggle="collapse" data-target=".navbar-collapse" id="home" ui-sref="home") Home
                        span.icon
                li
                    a(class="navLink" data-toggle="collapse" data-target=".navbar-collapse" id="social" ui-sref="social" ) Social
                        span.icon
                li
                    a(class="navLink" data-toggle="collapse" data-target=".navbar-collapse" id="social" ui-sref="diary" ) My Diary
                        span.icon
                li
                    a(href="") Profile
                    ul.list-unstyled
                        li.sub-nav
                            a(class="navLink" data-toggle="collapse" data-target=".navbar-collapse" id="" ui-sref='profile') Personal
                                span.icon
                        li.sub-nav
                            a(class="navLink" data-toggle="collapse" data-target=".navbar-collapse" id="" ui-sref='profile.assm') Assessment
                                span.icon
                        li.sub-nav
                            a(class="navLink" data-toggle="collapse" data-target=".navbar-collapse" id="" ui-sref='profile.other') Other
                                span.icon
                li
                    a(data-toggle="collapse" data-target=".navbar-collapse"  href='/logout') Logout
                li
                    a(href='#')
                        | Menu Five
                        span.icon
        .navbar.navbar-inverse.navbar-fixed-top
            // Include your brand here
            .navbar-header.pull-right
                a#nav-expander.nav-expander.fixed
                    |   
                    i.fa.fa-bars.fa-lg.white
            a.navbar-brand(href='#') Fun Project



             