aside.col-sm-6.col-sm-height
    .profilePanelRange-list
        .range-list-div
            a.btn.btn-primary.login-button-ext(ui-sref='.pers') Personal Info
        .range-list-div
            a.btn.btn-info.login-button-ext(ui-sref='.assm') My Assessment
        .range-list-div
            a.btn.btn-danger.login-button-ext(ui-sref='.other') Other profile info