.profilePanel(ng-controller="profileController" ng-init="init()").profilePanel-responsive

    include profileTabs
    aside.sol-sm-6.col-sm-height
        div(ui-view='')
            include profileForm