#wellnessTop.fill-screen.stellar-bg(data-stellar-background-ratio='0.2', style='background-image: url("{{bgImage}}"); width:100%;')
  h3.range-title Wellness
  h4.range-title Wellnemm stuff goes here
  .homePanelRange-list
    .range-list-div
      a(ui-sref='feelingGreat').btn.btn-primary.login-button-ext Today's wellness headlines
    .down-button
      a.btn(id='chChk')
        i.fa.fa-arrow-circle-down.fa-4x