.homePanelRange-list
  br
  br
  div(style="background-color:grey;")
    h5
      br
    | Activity Entry form

    br
    br
    br
    .range-list-div
      a(ui-sref='feelingGreat.other').btn.btn-primary.login-button-ext Save
