.homePanelRange-list
  br
  br
  div(style="background-color:grey;")
    h5
      br
    | Tell us More Entry form

    br
    br
    br
    .range-list-div
      a(ui-sref='home' ng-click="setDone(true)").btn.btn-primary.login-button-ext Save
