.homePanelRange-list
    br
    br
    div(style="background-color:grey;")
      h5
        br
        | Food Entry form

        br
        br
        br
      .range-list-div
        a(ui-sref='feelingGreat.activity').btn.btn-primary.login-button-ext Save
