.homePanel.homePanel-responsive
  aside.col-sm-6.col-sm-height
    #socialTop.fill-screen.stellar-bg(data-stellar-background-ratio='0.2', style='background-image: url("{{bgImage}}"); width:100%;')
        h3.range-title Social Landing page
        h4.range-title Social stuff goes here
        .homePanelRange-list
            .range-list-div
                a(ui-sref='feelingGreat').btn.btn-primary.login-button-ext Social stuff
