#socialTop.fill-screen.stellar-bg(data-stellar-background-ratio='0.2', style='background-image: url("{{bgImage}}"); width:100%;')
  h3.range-title Social Info
  h4.range-title Social snippet for home page
  .homePanelRange-list
    .range-list-div
      a(ui-sref='feelingGreat').btn.btn-primary.login-button-ext Social stuff
    .down-button
      a.btn(id='social' scroll-to="wellnessTop")
        i.fa.fa-arrow-circle-down.fa-4x
script.
  $('.down-button a').click(function () {
    console.log(this.getAttribute('scroll-to'));
    var scrollTo = this.getAttribute('scroll-to');
    $('html body').stop().animate({
      scrollTop: $("#" + scrollTo).offset().top - 100
    }, 1500, 'easeInOutExpo');
  });